@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

/*
selector {
  property: value;
  another-property: value;
}
*/

:root {
    font-family: 'DotGothic16', sans-serif;
    --text-color: #1f4758;
}

* {
    margin: 0;
    padding: 0;
}
